.container {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-width: 90%;
  background-color: #000000;
}

.arrow_btn {
  min-width: 5%;
  cursor: pointer;
  background-color: #0e0d0d;
  z-index: 999;
}

.right_arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left_arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left:hover {
  opacity: 0.5;
}

.right:hover {
  opacity: 0.5;
}

.fast_scroll {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

@media (min-width: 320px) {
  img {
    height: calc(100vh - 10%);
    width: calc(100vw - 10%);
  }

  .padding {
    padding: 0;
  }
}

@media (min-width: 480px) {
  img {
    height: calc(100vh - 15%);
    width: calc(100vw - 35%);
  }

  .padding {
    padding: 0 5%;
  }
}

@media (min-width: 768px) {
  img {
    width: calc(100vw - 60%);
    height: calc(100vh - 25%);
  }

  .padding {
    padding: 0 10%;
  }
}

@media (min-width: 992px) {
  img {
    width: calc(100vw - 65%);
    height: calc(100vh - 25%);
  }

  .padding {
    padding: 0 20%;
  }
}

@media (min-width: 1200px) {
  img {
    width: calc(100vw - 75%);
    height: calc(100vh - 25%);
  }

  .padding {
    padding: 0 20%;
  }
}
